<!DOCTYPE html>
<html class="k-webkit k-webkit59">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cách làm kem dứa đơn giản cho mùa hè thật mát lạnh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://www.lamsao.com/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/minify.min.css" type="text/css">
    <link href="css/amthuc.css" rel="stylesheet">
</head>

<body id="new-detail-layout">
    <div id="header">
        <div class="header-inner">
            <div class="header-top container hidden-xs">
                <div class="row">
                    <div class="header-logo col-md-3 col-sm-4">
                        <a href="https://www.lamsao.com/">
                            <img src="images/logo.png" alt="Lamsao.com">
                        </a>
                    </div>
                    <div class="search-input col-md-5 col-sm-6 hidden-xs">
                        <form class="search-form" action="https://www.lamsao.com/tim-kiem.html" onsubmit="return valildateFormSearch(this)" novalidate="novalidate">
                            <input type="text" name="q" class="search-input" placeholder="Nhập từ khóa bạn cần tìm">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <div class="header-nav col-md-4 col-sm-2 hidden-xs">
                        <div class="clear-fix">
                            <div class="login-account">
                                <a href="javascript:;" class="login-popup">
                                    <i class="icon-nav-login"></i>
                                    <span>
                                    Đăng nhập
                                </span>
                                </a>
                            </div>

                            <div class="favorite-article hidden-sm">
                                <a href="https://www.lamsao.com/tai-khoan/bai-viet-yeu-thich.html">
                                    <i class="icon-nav-favorite"></i>
                                    <span>
                                Yêu thích
                            </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-top-mobile container hidden visible-xs">
                <div class="row row-eq-height">
                    <div class="menu-mobile col-xs-2">
                        <a href="https://www.lamsao.com/doi-song-gc3.html#main-menu-mobile">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="logo-mobile col-xs-8 text-center">
                        <a href="https://www.lamsao.com/">
                            <img src="images/logo.png" alt="Lamsao.com">
                        </a>
                    </div>
                    <div class="search-mobile col-xs-2">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="search-mobile-header hidden" style="top: 60px;">
                    <form class="search-form" action="https://www.lamsao.com/tim-kiem.html" onsubmit="return valildateFormSearch(this)" novalidate="novalidate">
                        <input type="text" name="q" placeholder="Tìm kiếm ...">
                    </form>
                </div>
            </div>

            <div class="main-menu hidden-xs">
                <div class="container no-padding">
                    <div class="main-menu-nav">
                        <ul class="clear-fix no-margin">
                            <li class="group-item cate-item" cateid="22">
                                <a href="https://www.lamsao.com/am-thuc-p213c22.html"> <i class="icon-nav icon-nav-1"></i> <span>Ẩm thực</span> </a>
                                <div class="list-cate-child list-articles clear-fix hidden-xs hidden-sm hidden-md">
                                    <ul class="clear-fix"></ul>
                                </div>
                            </li>
                            <li class="group-item cate-item" cateid="148">
                                <a href="https://www.lamsao.com/handmade-p213c148.html"> <i class="icon-nav icon-nav-2"></i> <span>Handmade</span> </a>
                                <div class="list-cate-child list-articles clear-fix hidden-xs hidden-sm hidden-md">
                                    <ul class="clear-fix"></ul>
                                </div>
                            </li>
                            <li class="group-item" gid="4">
                                <a href="https://www.lamsao.com/cam-nang-gia-dinh-gc4.html"> <i class="icon-nav icon-nav-3"></i> <span>Gia đình Việt</span> </a>
                                <div class="list-cate-child clear-fix hidden-xs hidden-sm hidden-md"></div>
                            </li>
                            <li class="group-item" gid="3">
                                <a href="https://www.lamsao.com/doi-song-gc3.html"> <i class="icon-nav icon-nav-4"></i> <span>Đời sống</span> </a>
                                <div class="list-cate-child clear-fix hidden-xs hidden-sm hidden-md"></div>
                            </li>
                            <li class="group-item" gid="5">
                                <a href="https://www.lamsao.com/dep-gc5.html"> <i class="icon-nav icon-nav-5"></i> <span>Khỏe đẹp +</span> </a>
                                <div class="list-cate-child clear-fix hidden-xs hidden-sm hidden-md"></div>
                            </li>
                            <li class="group-item" gid="7">
                                <a href="https://www.lamsao.com/kham-pha-gc7.html"> <i class="icon-nav icon-nav-6"></i> <span>Khám phá</span> </a>
                                <div class="list-cate-child clear-fix hidden-xs hidden-sm hidden-md"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="view-all-cate hidden"> <i class="icon-cate-viewall"></i>
                    </div>
                </div>
            </div>
            <div class="header-top-fix hidden-xs hidden">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 logo hidden-sm hidden-md">
                            <a href="https://www.lamsao.com/"> <img src="images/logo-fix.png" alt="Lamsao.com"> </a>
                        </div>
                        <div class="col-md-9 menu col-lg-7">
                            <div class="main-menu-nav">
                                <ul class="clear-fix no-margin">
                                    <li class="hidden visible-sm visible-md">
                                        <a href="https://www.lamsao.com/"> <i class="icon-nav icon-nav-home"></i> </a>
                                    </li>
                                    <li class="group-item cate-item" cateid="22">
                                        <a href="https://www.lamsao.com/am-thuc-p213c22.html"> <i class="icon-nav icon-nav-7"></i> <span>Ẩm thực</span> </a>
                                        <div class="list-cate-child list-articles clear-fix">
                                            <ul class="clear-fix"></ul>
                                        </div>
                                    </li>
                                    <li class="group-item cate-item" cateid="148">
                                        <a href="https://www.lamsao.com/handmade-p213c148.html"> <i class="icon-nav icon-nav-7"></i> <span>Handmade</span> </a>
                                        <div class="list-cate-child list-articles clear-fix">
                                            <ul class="clear-fix"></ul>
                                        </div>
                                    </li>
                                    <li class="group-item" gid="4">
                                        <a href="https://www.lamsao.com/cam-nang-gia-dinh-gc4.html"> <i class="icon-nav icon-nav-7"></i> <span>Gia đình Việt</span> </a>
                                        <div class="list-cate-child clear-fix"></div>
                                    </li>
                                    <li class="group-item" gid="3">
                                        <a href="https://www.lamsao.com/doi-song-gc3.html"> <i class="icon-nav icon-nav-7"></i> <span>Đời sống</span> </a>
                                        <div class="list-cate-child clear-fix"></div>
                                    </li>
                                    <li class="group-item" gid="5">
                                        <a href="https://www.lamsao.com/dep-gc5.html"> <i class="icon-nav icon-nav-7"></i> <span>Khỏe đẹp +</span> </a>
                                        <div class="list-cate-child clear-fix"></div>
                                    </li>
                                    <li class="group-item" gid="7">
                                        <a href="https://www.lamsao.com/kham-pha-gc7.html"> <i class="icon-nav icon-nav-7"></i> <span>Khám phá</span> </a>
                                        <div class="list-cate-child clear-fix"></div>
                                    </li>
                                    <li class="hidden visible-sm pull-right">
                                        <a class="search-tablet" href="javascript:;"> <i class="fa fa-search" aria-hidden="true"></i> </a>
                                        <div class="search-input-tablet hidden">
                                            <form class="search-form-table" action="https://www.lamsao.com/tim-kiem.html" onsubmit="return valildateFormSearch(this)" novalidate="novalidate">
                                                <input type="text" name="q" placeholder="Nhập từ khóa bạn muốn tìm ..." class="search-input">
                                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                                                </button> <i class="fa fa-times" aria-hidden="true"></i>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 search hidden-sm">
                            <form class="search-form" action="https://www.lamsao.com/tim-kiem.html" onsubmit="return valildateFormSearch(this)" novalidate="novalidate">
                                <input type="text" name="q" placeholder="Nhập từ khóa bạn cần tìm">
                                <button type="submit"> <i class="fa fa-search col-xs-2" aria-hidden="true"></i> </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main-menu-mobile" class="main-menu-mobile hidden-sm hidden-md hidden-lg">
                <div class="categories-mobile">
                    <div class="event-feature">
                        <ul>
                            <li><a href="https://www.lamsao.com/">LAMSAO.COM</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="categories-nav">
                        <li><a href="https://www.lamsao.com/">Trang chủ</a>
                        </li>
                        <li><a href="https://www.lamsao.com/am-thuc-p213c22.html">Ẩm thực</a>
                        </li>
                        <li><a href="https://www.lamsao.com/handmade-p213c148.html">Handmade</a>
                        </li>
                        <li><span>Gia đình Việt</span>
                            <ul>
                                <li><a href="https://www.lamsao.com/nha-cua-p213c1.html">Nhà cửa</a>
                                </li>
                                <li><a href="https://www.lamsao.com/gia-dinh-p213c21.html">Gia đình</a>
                                </li>
                                <li><a href="https://www.lamsao.com/cha-me-tre-p213c834.html">Cha mẹ trẻ</a>
                                </li>
                            </ul>
                        </li>
                        <li><span>Đời sống</span>
                            <ul>
                                <li><a href="https://www.lamsao.com/gioi-tre-p213c132.html">Giới trẻ</a>
                                </li>
                                <li><a href="https://www.lamsao.com/du-lich-p213c149.html">Du lịch</a>
                                </li>
                                <li><a href="https://www.lamsao.com/van-hoa-p213c231.html">Văn hóa</a>
                                </li>
                            </ul>
                        </li>
                        <li><span>Khỏe đẹp +</span>
                            <ul>
                                <li><a href="https://www.lamsao.com/suc-khoe-p213c7.html">Sức khỏe</a>
                                </li>
                                <li><a href="https://www.lamsao.com/dinh-duong-p213c46.html">Dinh dưỡng</a>
                                </li>
                                <li><a href="https://www.lamsao.com/khoe-dep-p213c165.html">Khỏe đẹp</a>
                                </li>
                                <li><a href="https://www.lamsao.com/dep-p213c179.html">Đẹp</a>
                                </li>
                                <li><a href="https://www.lamsao.com/thoi-trang-p213c205.html">Thời trang</a>
                                </li>
                            </ul>
                        </li>
                        <li><span>Khám phá</span>
                            <ul>
                                <li><a href="https://www.lamsao.com/su-nghiep-p213c12.html">Sự nghiệp</a>
                                </li>
                                <li><a href="https://www.lamsao.com/cong-nghe-p213c73.html">Công nghệ</a>
                                </li>
                                <li><a href="https://www.lamsao.com/giao-duc-p213c139.html">Giáo dục</a>
                                </li>
                                <li><a href="https://www.lamsao.com/xe-360-p213c143.html">Xe 360° </a>
                                </li>
                                <li><a href="https://www.lamsao.com/the-thao-p213c241.html">Thể thao</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="favorite-mobile clear-fix"> <i class="icon-favorite-mobile"></i> <a href="https://www.lamsao.com/tai-khoan/bai-viet-yeu-thich.html">Bài viết yêu thích</a>
                    </div>
                    <div class="login-mobile clear-fix"> <i class="icon-login-mobile"></i>
                        <a href="https://www.lamsao.com/dang-nhap.html">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <div class="header-top-mobile-fix container hidden-sm hidden-lg hidden-md hidden">
                <div class="row row-eq-height">
                    <div class="menu-mobile col-xs-2">
                        <a href="https://www.lamsao.com/doi-song-gc3.html#main-menu-mobile"> <i class="fa fa-bars" aria-hidden="true"></i> </a>
                    </div>
                    <div class="logo-mobile col-xs-8 text-center">
                        <a href="https://www.lamsao.com/"> <img src="images/logo-fix.png" alt="Lamsao.com"> </a>
                    </div>
                    <div class="search-mobile col-xs-2"> <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper">
            <div class="breadcrumb">
                <div class="container no-padding">
                    <a href="https://www.lamsao.com/">Lamsao.com</a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="https://www.lamsao.com/doi-song-gc3.html">Đời sống</a>
                </div>
            </div>

            <!-- End Categories Module Home -->
            <div class="categories-home-module container no-padding">

                <div class="category-item red">
                    <h3>
                    <a href="https://www.lamsao.com/van-hoa-p213c231.html">
                        <span>
                            Văn hóa
                        </span>
                    </a>
                </h3>
                    <div class="row">

                        <div class="col-lg-3 col-md-4 col-sm-6 ">
                            <a href="https://www.lamsao.com/tung-bung-le-hoi-mua-he-vong-quanh-the-gioi-p214a69132.html" class="img-thumb">
                                <img alt="Tưng bừng lễ hội mùa hè vòng quanh thế giới" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Resources/CommunityUpload/hailt/29052013/images/Marseille-Selects-69.jpg&amp;w=270&amp;h=170&#39;" src="images/Marseille-Selects-69_270_170.jpg">
                                <span class="favorite-article add-favorite-article" data-title="Tưng bừng lễ hội mùa hè vòng quanh thế giới" data-id="69132" data-img="https://media.lamsao.com/Resources/CommunityUpload/hailt/29052013/images/Marseille-Selects-69.jpg">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 3593 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/tung-bung-le-hoi-mua-he-vong-quanh-the-gioi-p214a69132.html">Tưng bừng lễ hội mùa hè vòng quanh thế giới</a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 ">
                            <a href="https://www.lamsao.com/nhung-bai-tho-hay-viet-ve-mua-he-goi-nho-tuoi-hoc-tro-p214a105442.html" class="img-thumb">
                                <img alt="Những bài thơ hay viết về mùa hè gợi nhớ tuổi học trò" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Data//phuongpt/11062015/nhung_bai_tho_hay_viet_ve_mua_he_goi_nho_tuoi_hoc_tro.jpg&amp;w=270&amp;h=170&#39;" src="images/nhung_bai_tho_hay_viet_ve_mua_he_goi_nho_tuoi_hoc_tro_270_170.jpg">
                                <span class="favorite-article add-favorite-article" data-title="Những bài thơ hay viết về mùa hè gợi nhớ tuổi học trò" data-id="105442" data-img="https://media.lamsao.com/Data//phuongpt/11062015/nhung_bai_tho_hay_viet_ve_mua_he_goi_nho_tuoi_hoc_tro.jpg">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 32756 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/nhung-bai-tho-hay-viet-ve-mua-he-goi-nho-tuoi-hoc-tro-p214a105442.html">Những bài thơ hay viết về mùa hè gợi nhớ tuổi học trò</a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 ">
                            <a href="https://www.lamsao.com/trai-nghiem-le-hoi-mua-he-o-nhat-ban-p214a68608.html" class="img-thumb">
                                <img alt="Trải nghiệm lễ hội mùa hè ở Nhật Bản" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Resources/CommunityUpload/hailt/20052013/images/obon-festival-japan.jpg&amp;w=270&amp;h=170&#39;" src="images/obon-festival-japan_270_170.jpg">
                                <span class="favorite-article add-favorite-article" data-title="Trải nghiệm lễ hội mùa hè ở Nhật Bản" data-id="68608" data-img="https://media.lamsao.com/Resources/CommunityUpload/hailt/20052013/images/obon-festival-japan.jpg">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 3486 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/trai-nghiem-le-hoi-mua-he-o-nhat-ban-p214a68608.html">Trải nghiệm lễ hội mùa hè ở Nhật Bản</a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 hidden-md">
                            <a href="https://www.lamsao.com/lich-nghi-le-gio-to-hung-vuong-va-dip-le-tet-30-4-1-5-p214a110048.html" class="img-thumb">
                                <img alt="Lịch nghỉ lễ 2016 Giỗ Tổ Hùng Vương và dịp lễ Tết 30/4 - 1/5" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Data//thuyptt/29032016/lich_nghi_le_gio_to_hung_vuong_va_dip_le_tet_30_4_1_5_1.jpg&amp;w=270&amp;h=170&#39;" src="images/lich_nghi_le_gio_to_hung_vuong_va_dip_le_tet_30_4_1_5_1_270_170.jpg">
                                <span class="favorite-article add-favorite-article" data-title="Lịch nghỉ lễ 2016 Giỗ Tổ Hùng Vương và dịp lễ Tết 30/4 - 1/5" data-id="110048" data-img="https://media.lamsao.com/Data//thuyptt/29032016/lich_nghi_le_gio_to_hung_vuong_va_dip_le_tet_30_4_1_5_1.jpg">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 1589 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/lich-nghi-le-gio-to-hung-vuong-va-dip-le-tet-30-4-1-5-p214a110048.html">Lịch nghỉ lễ 2016 Giỗ Tổ Hùng Vương và dịp lễ Tết 30/4 - 1/5</a>
                        </div>
                    </div>
                </div>
                <div class="category-item brown">
                    <h3>
                    <a href="https://www.lamsao.com/gioi-tre-p213c132.html">
                        <span>
                            Giới trẻ
                        </span>
                    </a>
                </h3>
                    <div class="row">

                        <div class="col-lg-3 col-md-4 col-sm-6 ">
                            <a href="https://www.lamsao.com/10-viec-dung-nen-bo-lo-truoc-khi-mua-he-ket-thuc-p214a93886.html" class="img-thumb">
                                <img alt="10 việc đừng nên bỏ lỡ trước khi mùa hè kết thúc" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Resources/CommunityUpload/thuyptt/08072014/images/du%20l%E1%BB%8Bch.png&amp;w=270&amp;h=170&#39;" src="images/du lịch_270_170.png">
                                <span class="favorite-article add-favorite-article" data-title="10 việc đừng nên bỏ lỡ trước khi mùa hè kết thúc" data-id="93886" data-img="https://media.lamsao.com/Resources/CommunityUpload/thuyptt/08072014/images/du%20l%E1%BB%8Bch.png">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 1707 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/10-viec-dung-nen-bo-lo-truoc-khi-mua-he-ket-thuc-p214a93886.html">10 việc đừng nên bỏ lỡ trước khi mùa hè kết thúc</a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 ">
                            <a href="https://www.lamsao.com/hen-ho-mua-he-nhu-the-nao-cho-lang-man-p214a92605.html" class="img-thumb">
                                <img alt="Hẹn hò mùa hè như thế nào cho lãng mạn?" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Resources/CommunityUpload/vannn/24052014/images/hen-ho-mua-he-nhu-the-nao-cho-lang-man-lamsao.jpg&amp;w=270&amp;h=170&#39;" src="images/hen-ho-mua-he-nhu-the-nao-cho-lang-man-lamsao_270_170.jpg">
                                <span class="favorite-article add-favorite-article" data-title="Hẹn hò mùa hè như thế nào cho lãng mạn?" data-id="92605" data-img="https://media.lamsao.com/Resources/CommunityUpload/vannn/24052014/images/hen-ho-mua-he-nhu-the-nao-cho-lang-man-lamsao.jpg">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 7573 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/hen-ho-mua-he-nhu-the-nao-cho-lang-man-p214a92605.html">Hẹn hò mùa hè như thế nào cho lãng mạn?</a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 ">
                            <a href="https://www.lamsao.com/7-trai-nghiem-de-co-mot-mua-he-tuyet-voi-p214a93436.html" class="img-thumb">
                                <img alt="5 trải nghiệm để có một mùa hè tuyệt vời" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Resources/CommunityUpload/trapth/17062014/images/tumblr_mhe177IqXh1s0x01oo1_500_large.jpg&amp;w=270&amp;h=170&#39;" src="images/tumblr_mhe177IqXh1s0x01oo1_500_large_270_170.jpg">
                                <span class="favorite-article add-favorite-article" data-title="5 trải nghiệm để có một mùa hè tuyệt vời" data-id="93436" data-img="https://media.lamsao.com/Resources/CommunityUpload/trapth/17062014/images/tumblr_mhe177IqXh1s0x01oo1_500_large.jpg">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 1950 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/7-trai-nghiem-de-co-mot-mua-he-tuyet-voi-p214a93436.html">5 trải nghiệm để có một mùa hè tuyệt vời</a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 hidden-md">
                            <a href="https://www.lamsao.com/huong-dan-nhung-dieu-luu-y-khi-hen-ho-8-3-p214a20967.html" class="img-thumb">
                                <img alt="Hướng dẫn những điều lưu ý khi hẹn hò 8/3" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Resources/Data/News/Linh/Mar/7/6.jpg&amp;w=270&amp;h=170&#39;" src="images/6_270_170.jpg">
                                <span class="favorite-article add-favorite-article" data-title="Hướng dẫn những điều lưu ý khi hẹn hò 8/3" data-id="20967" data-img="https://media.lamsao.com/Resources/Data/News/Linh/Mar/7/6.jpg">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 3742 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/huong-dan-nhung-dieu-luu-y-khi-hen-ho-8-3-p214a20967.html">Hướng dẫn những điều lưu ý khi hẹn hò 8/3</a>
                        </div>
                    </div>
                </div>
                <div class="category-item pink">
                    <h3>
                    <a href="https://www.lamsao.com/du-lich-p213c149.html">
                        <span>
                            Du lịch
                        </span>
                    </a>
                </h3>
                    <div class="row">

                        <div class="col-lg-3 col-md-4 col-sm-6 ">
                            <a href="https://www.lamsao.com/6-thang-canh-hap-dan-cho-mua-he-o-quang-ngai-p214a68965.html" class="img-thumb">
                                <img alt="6 thắng cảnh hấp dẫn cho mùa hè ở Quảng Ngãi" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Resources/CommunityUpload/hailt/25052013/images/8592c6a16bd5e0862b920753659a2f3c.jpg&amp;w=270&amp;h=170&#39;" src="images/8592c6a16bd5e0862b920753659a2f3c_270_170.jpg">
                                <span class="favorite-article add-favorite-article" data-title="6 thắng cảnh hấp dẫn cho mùa hè ở Quảng Ngãi" data-id="68965" data-img="https://media.lamsao.com/Resources/CommunityUpload/hailt/25052013/images/8592c6a16bd5e0862b920753659a2f3c.jpg">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 1763 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/6-thang-canh-hap-dan-cho-mua-he-o-quang-ngai-p214a68965.html">6 thắng cảnh hấp dẫn cho mùa hè ở Quảng Ngãi</a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 ">
                            <a href="https://www.lamsao.com/kinh-nghiem-du-lich-bien-an-toan-mua-he-p214a68769.html" class="img-thumb">
                                <img alt="Kinh nghiệm du lịch biển an toàn mùa hè" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Resources/CommunityUpload/hailt/22052013/images/cu5.jpg&amp;w=270&amp;h=170&#39;" src="images/cu5_270_170.jpg">
                                <span class="favorite-article add-favorite-article" data-title="Kinh nghiệm du lịch biển an toàn mùa hè" data-id="68769" data-img="https://media.lamsao.com/Resources/CommunityUpload/hailt/22052013/images/cu5.jpg">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 2030 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/kinh-nghiem-du-lich-bien-an-toan-mua-he-p214a68769.html">Kinh nghiệm du lịch biển an toàn mùa hè</a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 ">
                            <a href="https://www.lamsao.com/nhung-diem-du-lich-nuoc-ngoai-khong-nen-den-vao-mua-he-p214a92557.html" class="img-thumb">
                                <img alt="Những điểm du lịch nước ngoài không nên đến vào mùa hè" onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Resources/CommunityUpload/vannn/23052014/images/nhung-diem-du-lich-nuoc-ngoai-khong-nen-den-vao-mua-he-lamsao.jpg&amp;w=270&amp;h=170&#39;" src="images/nhung-diem-du-lich-nuoc-ngoai-khong-nen-den-vao-mua-he-lamsao_270_170.jpg">
                                <span class="favorite-article add-favorite-article" data-title="Những điểm du lịch nước ngoài không nên đến vào mùa hè" data-id="92557" data-img="https://media.lamsao.com/Resources/CommunityUpload/vannn/23052014/images/nhung-diem-du-lich-nuoc-ngoai-khong-nen-den-vao-mua-he-lamsao.jpg">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 2468 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/nhung-diem-du-lich-nuoc-ngoai-khong-nen-den-vao-mua-he-p214a92557.html">Những điểm du lịch nước ngoài không nên đến vào mùa hè</a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 hidden-md">
                            <a href="https://www.lamsao.com/nhung-phu-kien-can-thiet-cho-chuyen-du-lich-gia-dinh-mua-he-p214a57856.html" class="img-thumb">
                                <img alt="Những phụ kiện cần thiết cho chuyến du lịch gia đình mùa hè " onerror="this.src=&#39;https://media.lamsao.com/ThumbnailCrop.ashx?i=/Resources/CommunityUpload/huongptp/31122012/images/phu-kien-du-lich-1.JPG&amp;w=270&amp;h=170&#39;" src="./images/phu-kien-du-lich-1_270_170.JPG">
                                <span class="favorite-article add-favorite-article" data-title="Những phụ kiện cần thiết cho chuyến du lịch gia đình mùa hè " data-id="57856" data-img="https://media.lamsao.com/Resources/CommunityUpload/huongptp/31122012/images/phu-kien-du-lich-1.JPG">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                            </a>
                            <div class="info">
                                <i class="fa fa-eye"></i> 2187 lượt xem
                            </div>
                            <a class="title" href="https://www.lamsao.com/nhung-phu-kien-can-thiet-cho-chuyen-du-lich-gia-dinh-mua-he-p214a57856.html">Những phụ kiện cần thiết cho chuyến du lịch gia đình mùa hè </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Categories Module Home -->
        </div>
        
                        <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 footer-nav col-sm-3">
                                <a href="https://www.lamsao.com/gioi-thieu-ve-lamsao.html">Về Lamsao</a>
                                <a href="https://www.lamsao.com/lien-he.html">Liên hệ</a>

                            </div>
                            <div class="col-md-3 footer-nav col-sm-3">
                                <a href="https://www.lamsao.com/video.html">Video</a>
                                <a href="https://www.lamsao.com/gop-y.html">Góp ý</a>
                                <a href="https://www.lamsao.com/su-kien-p239.html">Sự kiện</a>
                            </div>
                            <div class="col-md-6 footer-nav col-sm-6">
                                <div class="receive-email">
                                    <h4>Nhận tin từ Lamsao.com</h4>
                                    <input type="text" class="email-input" name="email" placeholder="Email của bạn">
                                    <button type="button" class="submit-email">Gửi</button>
                                </div>
                                <div class="connect-lamsao">
                                    <div class="social" style="margin-top:10px;">
                                        <a href="https://www.facebook.com/Lamsao.Fanpage/?fref=ts" target="_blank" style="display:inline-block;">
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="https://plus.google.com/+lamsaocom" target="_blank" style="display:inline-block;">
                                            <i class="icon-google"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-info">
                    <div class="container no-padding">
                        <h3>CÔNG TY CỔ PHẦN CÔNG NGHỆ DKT</h3>
                        <div class="address hidden-xs">
                            <i class="fa fa-map-marker"></i> 442 Đội Cấn, Phường Cống Vị, Quận Ba Đình, Hà Nội - <i class="fa fa-phone"></i> 04 73086880 Ext 561 - <i class="fa fa-envelope"></i> info@lamsao.com
                            <br>
                        </div>
                        <div class="address hidden visible-xs">
                            <i class="fa fa-map-marker"></i> 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội
                            <br><i class="fa fa-phone"></i> 04 73086880 Ext 561
                        </div>
                        <div class="manager">
                            <b>Chịu trách nhiệm quản lý nội dung: </b> Ông Trần Trọng Tuyến
                        </div>
                        <div class="copyright">
                            @2016 lamsao.com | Giấy phép số 1669/GP-STTTT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 12/06/2014.
                        </div>
                    </div>
                </div>
            </div>

            <div class="return-top-page FixedBottom" id="return-top-page"></div>


            <div id="login-form" class="login-form-popup" style="display: none;" data-type="login">
                <div class="form-type">
                    <ul class="clearfix">
                        <li class="current login"><a href="javascript:;">Đăng nhập</a>
                        </li>
                        <li class="register"><a href="javascript:;">Đăng ký</a>
                        </li>
                    </ul>
                </div>
                <div class="form-detail clearfix">
                    <div class="form-detail-social">
                        <a class="facebook-login" href="javascript:;" onclick="signFacebook()">
                            <img src="./images/login-facebook.png">
                        </a>
                        <a class="google-login" href="javascript:;" onclick="loginGoogle()">
                            <img src="./images/login-google.png">
                        </a>
                    </div>
                    <div class="form-detail-input">
                        <div class="login-form login-popup-input">
                            <input type="text" name="email" class="username" placeholder="Tên đăng nhập">
                            <input type="password" name="email" class="password" placeholder="Mật khẩu">
                            <span class="label"><input type="checkbox" class="checkRemember"> Nhớ mật khẩu</span>
                            <button class="submit-login" onclick="loginPopup()">Đăng nhập</button>
                            <span class="label forgot-pass">Bạn quên mật khẩu</span>
                        </div>

                        <div class="forgot-password" style="display: none;">
                            <div class="forgot-form">
                                <span class="notice">Nhập vào tên đăng nhập để nhận mật khẩu mới</span>
                                <input type="text" class="username" id="recover-username" placeholder="Tên đăng nhập">
                                <button type="button" class="submit-email">Gửi yêu cầu</button>
                            </div>
                            <div class="forgot-form-rerult">

                            </div>
                        </div>

                        <div class="register-form" style="display: none;">
                            <form id="registerForm" novalidate="novalidate">
                                <input class="username" id="username" name="UserName" placeholder="Tên đăng nhập" type="text" required="">

                                <input class="password" id="password" name="Password" placeholder="Mật khẩu" type="password" required="">

                                <input class="cPassword" name="ConfirmPassword" placeholder="Nhập lại mật khẩu" type="password" required="">

                                <input class="email" id="email" name="Email" placeholder="Email" type="text" required="">

                                <button type="submit" id="submit-register" class="submit-register" onclick="return validateRegister();">Đăng ký</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="favorite-group" style="display: none;">
                <div class="add-favorite-popup">
                    <h3>Lưu bài viết yêu thích</h3>
                    <div class="clearfix">
                        <div class="list-group">
                            <ul class="list-group-item"></ul>
                        </div>
                        <div class="other-info">
                            <div class="add-new-group">
                                <input type="hidden" class="article-id" value="0">
                                <input type="text" name="group-name" class="new-group-name" placeholder="Nhóm mới">
                                <button class="submit-new-group"><i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="article-info">
                                <img src="./images/no-favorite.png">
                                <span class="title">Tiêu đề</span>
                            </div>
                        </div>
                    </div>

                    <div class="close-popup">
                        <button class="finished">Hoàn tất</button>
                    </div>
                </div>
            </div>

            <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
            <script type="text/javascript" src="js/jquery.validate.min.js"></script>
            <script type="text/javascript" src="js/jquery.validate.unobtrusive.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.min.js"></script>
            <script type="text/javascript" src="js/swiper.min.js"></script>
            <script type="text/javascript" src="js/jquery.sticky-kit.min.js"></script>
            <script type="text/javascript" src="js/jquery.mmenu.all.min.js"></script>
            <script type="text/javascript" src="js/perfect-scrollbar.jquery.min.js"></script>
            <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
            <script type="text/javascript" src="js/login-social.js"></script>
            <script type="text/javascript" src="js/jquery.noty.packaged.min.js"></script>
            <script type="text/javascript" src="js/kendo.core.min.js"></script>
            <script type="text/javascript" src="js/kendo.upload.min.js"></script>
            <script type="text/javascript" src="js/main.js"></script>
        </div>
    </div>
</body>
</html>